h1 {
  color: red;
  text-align: center;
}

.game-play-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;

  #game-container {
    width: 500px;
    height: 500px;
    display: flex;
    border: 5px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    .box {
      display: flex;
      width: 50px;
      height: 50px;
      background: gray;
      box-sizing: border-box;

      &:nth-child(odd) {
        //background: white;
      }
  
      &.snake{
        background: greenyellow;
      }
  
      &.block {
        background: black;
      }
    }
  }

  #control-zone {
    display: flex;
    flex-direction: column;
    .control-button {
      background: repeating-radial-gradient(green, transparent 100px);
      cursor: pointer;
      border: 2px solid green;
      padding: 10px;
      font-size: 16;
      margin: 20px;
    }

    
  }
}
